body{
  background-color: bisque;
}

.container{
  margin: 20px 40px 0 ;
  
}

.photo {
  display: block;
}
.main {
  display: flex;
  justify-content: space-around;
}
.main_left {
  width: 400px;
  height: 150px;
  margin-top:150px;
  margin-left:260px;
}
.main_left:hover{
  background-color: chocolate;
}
.main_right{
  background-color: darkcyan;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
width: 100%;
}
.btn_color{
  background-color: darkslateblue;
  color: azure;
  border-color: brown;
  border-width: 2px;
  border-radius: 10px;
  width: 120px;

}
.btn_color:hover{
  cursor: pointer;
}
.frame{
  border-width:  3px;
  border-color: yellowgreen;
  border-style: solid;
  margin-bottom: 10px;
  padding-right: 20px;
}
span{
  text-align: justify;
  text-indent: 3em;
}
.description{
  margin-bottom:  82px;
}

.photo {
  width: 340px;
  height: 360px;
}